.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer-container{
  @media screen and (min-width:1200px) {
    display: flex;
  }  
}

.footer-logo-box{
  @media screen and (min-width:768px){
    margin-bottom: 60px;
    display: flex;
  }
    @media screen and (min-width:1200px){
    display: flex;
    margin: 0;
  }
}

.container-footer-box{
  @media screen and (min-width:768px){
    width: 232px; 
    padding-left: 76px;
    margin-right: 165px;  
  }
  @media screen and (min-width:1200px){
    padding-left: 0;
    margin-right: 70px;
  }
  
}

.logo-footer {
  font-family: Raleway;
  @include font(26px, 700, 31px, 0.03em);
  color: var(--background-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-address {
  @include font(14px, 400, 24px, 0.03em);
  text-align: center;
  color: var(--background-color);
  margin-bottom: 8px;
  @media screen and (max-width:1200px){
    margin-bottom: 9px;
  }
}

.footer-contacts {
  @include font(14px, 400, 24px, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}

.container-logo-footer {
  @extend %align-items;
}

.footer-mail {
  margin-bottom: 8px;
  text-align: center;
  @media screen and (min-width:1200px){
  margin-bottom: 9px;
  }
}

.footer-tell{
  text-align: center;
  @media screen and (max-width:768px){
    margin-bottom: 60px;
  }
}

.footer-title{
  @include font(14px, 700, 16px, 0.03em);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color:var(--background-color);
  @media screen and (min-width:1200px){
  text-align: start;
  }
}

.footer-icon-list {
  @extend %align-items;
    @media screen and (max-width:768px){
    margin-bottom: 20px;
  }
}

.footer-icon-item {
  &:not(:first-child){
    margin-left: 10px;
  }
}

.footer-icon-svg{
  fill:var(--background-color); 
}

.footer-icon{
  @media screen and (min-width:768px){
    padding-top: 5px;
  }
  @media screen and (min-width:1200px){
    padding-top: 12px;
    margin-right: 93px;
  }
}

.online-form{
  @media screen and (min-width:1200px){
  padding-top: 12px;
  }
}

.form-box{
  @media screen and (min-width:1200px) {
  display: flex;
  }
}

.online-input{
  @include button (100%, 50px, 4px);
  border: none;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--background-color);
  margin-bottom: 20px;
  @media screen and (min-width:768px) {
  @include button (450px, 50px, 4px);
    display: flex;
    margin: 20px auto;
  }
  @media screen and (min-width:1200px) {
    @include button (358px, 50px, 4px);
    padding-left: 16px;
    margin: 0 12px 0 0;
  }
}

.footer-btn-svg{
  fill:var(--background-color); 
  margin-left: 10px;
}

.online-btn{
  @extend %align-items;
  @media screen and (max-width:1199px) {
    display: flex;
    margin: 0 auto;
  }
  @media screen and (min-width:1200px){
  text-align: start;
  }
}