
.header {
  width: 100%;
  background-color:#ffffff;
  border-bottom: 1px solid #ECECEC; 
  @media screen and (max-width:1199px){
  position: fixed;
  }
}

.header-logo {
  margin-right: auto;
  font-family: Raleway;
  @include font(24px, 700, 28px, 0.03em);
  color: #000000;
  text-decoration: none;
  @media screen and (min-width:1200px) {
  @include font(26px, 700, 31px, 0.03em);
    margin-right: 93px;
  }
}

.header-logo__first {
  color: var(--accent-color);
}

.header-list {
  display: none;
  @media screen and (min-width:768px){
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.header-item {
  &:not(:last-child) {
    margin-right: 50px;
    @media screen and (min-width:768px){
      margin-right: 40px;
    }  
  }
}

.header-link {
  @include font(14px, 500, 16px, 0.02em);
  color: var(--primary-title-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  @media screen and (min-width:768px){
  content:"";
  position: absolute;
  @include button (100%, 4px, 2px);
  background-color:var(--accent-color);
  display: block;
  bottom: 0;
  } 
}

.header__container { 
  height: 60px;
  display: flex;
  align-items: center;
  @media screen and (min-width:768px){
    height: 80px; 
  }
}

.header-nav {
  @extend %align-center;
  @media screen and (min-width:768px) and (max-width:1199px){
    margin-left: auto;
    margin-right: auto;
  }
}

.header-mail-link,
.header-tel-link {
  @extend %align-center;
  @include font(14px, 500, 16px, 0.02em);
  color: var(--secondary-color);
  @media screen and (max-width:1199px){
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.header-mail-link{
  @media screen and (max-width:1199px){
  margin-bottom: 10px;
  }
}

.header-contact {
  @extend %align-center;
  @media screen and (min-width:1200px){
    margin-left: auto;
  }
}

.header-contacts-list {
  display: none;
  @media screen and (min-width:768px){
  display: block;
  flex-direction: column;
  align-items: center;
  }
  @media screen and (min-width:1200px){
  display: flex;
  flex-direction: row;
  align-items: center;
  }
}

.header-tel-list {
  @media screen and (min-width:1200px){
  margin-left: 50px;
  }
}

.header-mail-icon,
.header-tel-icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width:1200px){
  margin-right: 10px;
  }
}