
.menu-selector {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    transition-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
    @media (min-width: 768px) {
    display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color:var(--background-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-selector {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--primary-title-color);
}

.mobile-menu {      
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-item{
    &:not(:last-child) {
        margin-bottom: 32px;
    }  
}

.mobile-link {
    @include font(40px, 500, 42px, 0.02em);
    display: block;
    color: var(--primary-title-color);
}

.mobile-tel-link{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color:var(--primary-title-color);
}

.mobile-mail-link{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.mobile-tel-item{
    margin-bottom: 32px;
}

.mobile-mail-item{
    margin-bottom: 64px;
}

.mobile-social-list{
    display: flex;
}

.mobile-social-item{
    &:not(:last-child){
        margin-right: 10px;
        padding-right: 10px;    
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}


.mobile-social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color:var(--accent-color);
}

.menu-mob-container{
    position: relative;
    height: 100%;
    min-height: 450px;
}

.mobile-menu-bottom{
    position: absolute;
    bottom: 0;
}
