body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.list {
  list-style-type: none;
  margin: 0;
}
